<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- 本地Maven储存库地址，用来定义本地的Maven库的存储地址，即从Maven仓库中下载的文件的存储的位置 -->
  <!--<localRepository>/home/chaoyi/.m2/repository</localRepository>-->
  <interactiveMode>true</interactiveMode>
  <offline>false</offline>
  <pluginGroups>
    <pluginGroup>org.mortbay.jetty</pluginGroup>
    <pluginGroup>org.jenkins-ci.tools</pluginGroup>
  </pluginGroups>
  <!--配置权限,使用默认用户-->
  <servers>
    <server>
      <id>aliyun-docker-registry</id>
      <username>rainbow954@163.com</username>
      <password>{4Rg0mt/fTIIHfPQanJZNNSdpkaWIkqKXLJcWsEnZ7/8=}</password>
      <configuration>
        <email>rainbow954@163.com</email>
      </configuration>
    </server>

    <server>
      <id>iotbull-docker-registry</id>
      <username>admin</username>
      <password>{LjEo7W5RyagHQD1Mx17+L3W6bSpo/aot2luIFFp98HQ=}</password>
      <configuration>
        <email>zhanghong@gongniu.cn</email>
      </configuration>
    </server>
    <server>
      <id>nexus-iotbull-lib-repo</id>
      <username>admin</username>
      <password>{LjEo7W5RyagHQD1Mx17+L3W6bSpo/aot2luIFFp98HQ=}</password>
    </server>
    <server>
      <id>nexus-iotbull-thirdparty-repo</id>
      <username>admin</username>
      <password>{LjEo7W5RyagHQD1Mx17+L3W6bSpo/aot2luIFFp98HQ=}</password>
    </server>
    <server>
      <id>nexus-release</id>
      <username>admin</username>
      <password>{LjEo7W5RyagHQD1Mx17+L3W6bSpo/aot2luIFFp98HQ=}</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password>{LjEo7W5RyagHQD1Mx17+L3W6bSpo/aot2luIFFp98HQ=}</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>aliyun-repo</id>
      <mirrorOf>central</mirrorOf>
      <name>central mirror</name>
      <url>https://maven.aliyun.com/repository/central</url>
    </mirror>

  </mirrors>
  <profiles>
    <profile>
      <id>iotbull</id>
      <activation>
        <activeByDefault>true</activeByDefault>
        <jdk>1.8</jdk>
      </activation>
      <properties>
        <maven.compiler.source>1.8</maven.compiler.source>
        <maven.compiler.target>1.8</maven.compiler.target>
        <maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
      </properties>
      <repositories>
        <!-- 私有库地址-->
        <!--
                <repository>
                 <id>maven-repo</id>
                 <url>http://central.maven.org/maven2/</url>
                 <releases>
                   <enabled>true</enabled>
                   <updatePolicy>always</updatePolicy>
                 </releases>
                 <snapshots>
                   <enabled>true</enabled>
                   <updatePolicy>always</updatePolicy>
                 </snapshots>
               </repository>

               <repository>
                 <id>aliyun-repo</id>
                 <url>http://maven.aliyun.com/mvn/repository</url>
                 <releases>
                   <enabled>true</enabled>
                   <updatePolicy>always</updatePolicy>
                 </releases>
                 <snapshots>
                   <enabled>true</enabled>
                   <updatePolicy>always</updatePolicy>
                 </snapshots>
               </repository>
               <repository>
                 <id>iotbull-lib-repo-3rdparty</id>
                 <url>http://nexus.iotbull.com:8081/content/repositories/thirdparty/</url>
                 <releases>
                   <enabled>true</enabled>
                   <updatePolicy>always</updatePolicy>
                 </releases>
                 <snapshots>
                   <enabled>true</enabled>
                   <updatePolicy>always</updatePolicy>
                 </snapshots>
               </repository>
        <repository>
                 <id>iobulll-lib-repo</id>
                 <url>http://nexus.iotbull.com:8081/content/repositories/iobulll-lib-repo/</url>
                 <releases>
                   <enabled>true</enabled>
                   <updatePolicy>always</updatePolicy>
                 </releases>
                 <snapshots>
                   <enabled>false</enabled>
                   <updatePolicy>always</updatePolicy>
                 </snapshots>
               </repository>
        <repository>
                 <id>nexus-iotbull-thirdparty-repo</id>
                 <url>http://nexus.iotbull.com:8081/nexus/content/repositories/thirdparty/</url>
                 <releases>
                   <enabled>true</enabled>
                   <updatePolicy>always</updatePolicy>
                 </releases>
               </repository>
       -->
        <!--
                <repository>
                  <id>iotbull-lib-snapshot-</id>
                  <url>http://nexus.iotbull.com:8081/nexus/content/repositories/snapshots/</url>

                  <snapshots>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                  </snapshots>
                </repository>
               <repository>
                  <id>iotbull-lib-release-</id>
                  <url>http://nexus.iotbull.com:8081/nexus/content/repositories/releases/</url>
                  <releases>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                  </releases>
            </repository>
                <repository>
                  <id>aliyun-repo</id>
                  <url>https://maven.aliyun.com/repository/central</url>
                  <releases>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                  </releases>
                  <snapshots>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                  </snapshots>
            </repository>
        -->
        <repository>
          <id>iotbull-repo</id>
          <url>http://nexus.iotbull.com:8081/nexus/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>

      </repositories>
      <pluginRepositories>


      </pluginRepositories>
    </profile>
  </profiles>
  <!-- 激活配置，指定哪些配置被激活 -->
  <activeProfiles>
    <activeProfile>iotbull</activeProfile>
  </activeProfiles>
</settings>
