<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!-- 本地Maven储存库地址，用来定义本地的Maven库的存储地址，即从Maven仓库中下载的文件的存储的位置 -->
	<!-- <localRepository>/root/.m2/repository</localRepository> -->
	<interactiveMode>true</interactiveMode>
	<offline>false</offline>
	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
		<pluginGroup>org.jenkins-ci.tools</pluginGroup>
	</pluginGroups>
	<!--配置权限,使用默认用户 -->
	<servers>
		<server>
			<id>rdc-releases</id>
			<username>oTJN0D</username>
			<password>W4CT6QeUkt</password>
		</server>
		<server>
			<id>rdc-snapshots</id>
			<username>oTJN0D</username>
			<password>W4CT6QeUkt</password>
		</server>
		<server>
			<id>aliyun-docker-registry</id>
			<username>rainbow954@163.com</username>
			<password>{iYPgs4KS+B8H6qcK176p0Tm0AFtRuz1oeDiIwVWiP1rqgvlVXOasKkX2oSow34qp}</password>
			<configuration>
				<email>rainbow954@163.com</email>
			</configuration>
		</server>
		<server>
			<id>registry.cn-hangzhou.aliyuncs.com</id>
			<username>rainbow954@163.com</username>
			<password>{iYPgs4KS+B8H6qcK176p0Tm0AFtRuz1oeDiIwVWiP1rqgvlVXOasKkX2oSow34qp}</password>
			<configuration>
				<email>rainbow954@163.com</email>
			</configuration>
		</server>
		<server>
			<id>registry.cn-shanghai.aliyuncs.com</id>
			<username>GongniuIOT@gongniu</username>
			<password>{zVA/mPKAdGEHlE46AFV+NEsJidT5Ih8CHX6gVWXHpaLGuwRUeodtSJFOXNLOvlOZ}</password>
			<configuration>
				<email>GongniuIOT@gongniu</email>
			</configuration>
		</server>
		<server>
			<id>dockerhub.iotbull.com:5000</id>
			<username>admin</username>
			<password>{uXCBhAalu4sH/mjSfTOjYGCg1oRWkqibxMHG1aHLwK4=}</password>
			<configuration>
				<email>zhanghong@gongniu.cn</email>
			</configuration>
		</server>
		<server>
			<id>iotbull-docker-registry</id>
			<username>admin</username>
			<password>{uXCBhAalu4sH/mjSfTOjYGCg1oRWkqibxMHG1aHLwK4=}</password>
			<configuration>
				<email>zhanghong@gongniu.cn</email>
			</configuration>
		</server>
		<server>
			<id>nexus-iotbull-lib-repo</id>
			<username>admin</username>
			<password>{uXCBhAalu4sH/mjSfTOjYGCg1oRWkqibxMHG1aHLwK4=}</password>
		</server>
		<server>
			<id>nexus-iotbull-thirdparty-repo</id>
			<username>admin</username>
			<password>{uXCBhAalu4sH/mjSfTOjYGCg1oRWkqibxMHG1aHLwK4=}</password>
		</server>
		<server>
			<id>nexus-release</id>
			<username>admin</username>
			<password>{uXCBhAalu4sH/mjSfTOjYGCg1oRWkqibxMHG1aHLwK4=}</password>
		</server>
		<server>
			<id>nexus-snapshots</id>
			<username>admin</username>
			<password>{uXCBhAalu4sH/mjSfTOjYGCg1oRWkqibxMHG1aHLwK4=}</password>
		</server>
	</servers>


	<mirrors>
		<mirror>
			<id>aliyun-repo</id>
			<mirrorOf>central</mirrorOf>
			<name>central mirror</name>
			<url>https://maven.aliyun.com/repository/central</url>
		</mirror>

	</mirrors>

	<profiles>

		<profile>
			<id>iotbull</id>
			<activation>
				<activeByDefault>true</activeByDefault>
				<jdk>1.8</jdk>
			</activation>

			<properties>
				<maven.compiler.source>1.8</maven.compiler.source>
				<maven.compiler.target>1.8</maven.compiler.target>
				<maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
				<fabric8.debug.enabled>true</fabric8.debug.enabled>
				<fabric8.debug.port>8000</fabric8.debug.port>
			</properties>
			<repositories>
				<repository>
					<id>iotbull-lib-snapshot</id>
					<url>http://nexus.iotbull.com:8081/nexus/content/repositories/snapshots/</url>

					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>iotbull-lib-release</id>
					<url>http://nexus.iotbull.com:8081/nexus/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
				</repository>

		<!-- 		<repository>
					<id>rdc-release</id>
					<url>https://repo.rdc.aliyun.com/repository/51087-release-2GC3Xz/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>rdc-snapshots</id>
					<url>https://repo.rdc.aliyun.com/repository/51087-snapshot-PhmhFf/</url>
					<releases>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository> -->

				<repository>
					<id>spring-snapshots</id>
					<name>Spring Snapshots</name>
					<url>http://repo.spring.io/libs-snapshot-local</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>spring-milestones</id>
					<name>Spring Milestones</name>
					<url>http://repo.spring.io/libs-milestone-local</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>

				<repository>
					<id>spring-releases</id>
					<name>Spring Releases</name>
					<url>http://repo.spring.io/release</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>

				<repository>
					<id>aliyun-repo</id>
					<url>https://maven.aliyun.com/repository/central</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>

			</repositories>
			<pluginRepositories>

				<pluginRepository>
					<id>spring-snapshots</id>
					<name>Spring Snapshots</name>
					<url>http://repo.spring.io/libs-snapshot-local</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>spring-milestones</id>
					<name>Spring Milestones</name>
					<url>http://repo.spring.io/libs-milestone-local</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>nexus</id>
					<name>local private nexus</name>
					<url>http://maven.aliyun.com/nexus/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>

			</pluginRepositories>
		</profile>
		<profile>
			<id>rdc-private-repo</id>
			<repositories>
				<repository>
					<id>nexus-release</id>
					<url>https://repo.rdc.aliyun.com/repository/51087-release-2GC3Xz/</url>
				</repository>
				<repository>
					<id>nexus-snapshots</id>
					<url>https://repo.rdc.aliyun.com/repository/51087-snapshot-PhmhFf/</url>
				</repository>
			</repositories>
		</profile>


	</profiles>
	<!-- 激活配置，指定哪些配置被激活 -->
	<activeProfiles>
		<activeProfile>iotbull</activeProfile>
	</activeProfiles>
</settings>
